#box{
    width: 50%;
    height: 345px;    
    border: 2px solid rgb(0, 81, 255);
}
#bx1{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    border-radius: 0% 100% 0% 100% / 100% 0% 100% 0% ;
    background-color: grey;
    display:none;
}

#bx2{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    border-radius: 52% 48% 46% 54% / 51% 46% 54% 49% ;
    background-color: grey;
    display:none;
}